.idea
.turbo
node_modules

apps/*/node_modules
packages/*/node_modules

apps/*/dist
packages/*/dist
dist
build

.*
!.dockerignore
!.gitignore

*.log

*.tmp
*.temp

.DS_Store

.git

.env.local
.env.development
.env.test