<!DOCTYPE html>
<html>
<head>
    <title>Новая пакет задач назначен</title>
</head>
<body>
<p>Уважаемый(ая) {{userName}},</p>
<p>Вашей организации назначен новый пакет задач: {{packageOutgoingRequisite}}</p>

<p>С уважением,<br>Команда поддержки</p>
</body>
</html>