<!DOCTYPE html>
<html>
<head>
    <title>Напоминание о сроке сдачи отчета</title>
</head>
<body>
<p>Уважаемый(ая) {{userName}},</p>
<p>Срок сдачи отчета по пакету "{{packageRequisite}}" истекает через {{daysLeft}} дней ({{deadline}}).</p>
<p>Пожалуйста, убедитесь, что все задачи выполнены и отчет готов к сдаче.</p>
<p>С уважением,<br>Команда поддержки</p>
</body>
</html>